
*{
    margin: 0%;
    padding: 0%;
     font-family: 'poppins', sans-serif ;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6;
    color: black;
    
    
} 

body {
    /* background-image: url(https://images.opencollective.com/ospic/be9b57c/background.png); */
    /* background-image: linear-gradient(rgb(22, 171, 171)); */
    color: #050505;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(rgb(11, 76, 76));
    
    

}

nav .logo {

    font-weight: 800px;
    letter-spacing: 3px;
    margin-left: 20px;
    color: white;



}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 10px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 400;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-image: linear-gradient(rgb(15, 149, 149));
    color: rgb(0, 0, 0);
    height: 750px;
    
} 
.mainText h1{
    font-size: 55px;
    color: white;
}
.mainText h3{
    font-size: 35px;
    margin-top: 20px;
    color: white;
}
.mainText button{
    width: 140px;
    height: 40px;
    background-color: rgb(11, 76, 76);
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 22px;
}
.mainText button:hover{
    border: 2px solid black;
    background-color: transparent;
}
.teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.teams .card{
    width: 300px;
    height: 420px;
    background-color: #fff;
    border-radius: 5px;
    margin-inline: 20px;
    /* margin-top: 22px; */
}
.card img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.card p{
    margin-top: 11px;
    margin-left: 11px;
    color: black;
}
.head{
    text-align: center;
    padding: 80px;
    color: black;
}
.speciality{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.speciality .spCard{
    width: 300px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 22px;

    margin-inline: 20px;
}
.spCard img{
    width: 200px;
}
.spCard p{
    margin-top: 11px;
    color: black;
}
.reviews{
    width: 800px;
    height: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.patientReview{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; 
    position: absolute;
    /* background-color: #fff; */
    transition: all 1s ease;
}
.patientReview img{
    width: 300px;
    margin-inline: 18px;
    border-radius: 4px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: rgb(11, 76, 76);
    color: white;
}
.text p{
    margin-top: 12px;
} 
.detail{
    display: none;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 5%;
    transform: translate(-50%, 40%);
    background-color: #fff;
    padding: 2px;
    width: 400px;
    border-radius: 4px;
     
}
.content{
    display: flex;  
    gap: 22px;
}
.content img{
    width: 200px;
    height: 250px;
}
.content p{
    margin-top: 22px;
    color: black;
}
.detail button{
    position: relative;
    top: -23px;
    left: -22px;
    width: 30px;
    height: 30px;
    background-color: rgb(12, 185, 185);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#bar{
    display: none;
    font-size: 26px;
    color: #fff;
    margin-right: 5%;
}


/* ----------- Contact--------------*/

.contact{
    margin-top: 5%;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.sub-title {
    font-size: 60px;
    color: rgb(11, 76, 76);
    font-weight: 1000;
}
.contact-left {
    margin-left: 5%;
    flex-basis: 35%;
}

.contact-right {
    padding-right: 5%;
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: rgb(11, 76, 76);
    margin-right: 15px;
    font-size: 25px;
}

.Social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(11, 76, 76);
    display: inline-block;
    transition: transform 0.5s;

}

.Social-icons a:hover {
    color: white;
    transform: translateY(-5px);
}

.button.btn2 {
    display: inline-block;
    background:rgb(11, 76, 76);
    color: white;
    
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px 0;
    color:rgb(11, 76, 76);
    font-size: 18px;
    border-radius: 6px;
}

form btn2 {
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background: transparent;
    font-weight: 300;
    color: white;
}


@media screen and (max-width:1100px){
    .main{
        display: block;
        text-align: center;
        /* height: auto; */
    }
    .mainText h1{
        margin-top: 76px;
    }
}

@media screen and (max-width:900px){
    ul{
        display: none;
    }
    #bar{
        display: block;
    }
}

@media screen and (max-width:850px){
    .reviews{
        width: 90%;
         
    }
    .patientReview img{
        width: 40%;
        height: 200px;
    }
}

@media screen and (max-width:600px){
    .mainText h1{
        font-size: 33px;
    }
    .mainText h3{
        font-size: 23px;
    }
    .main img{
        width: 90%;
    }
    .reviews{
        width: 80%;
    }
    .patientReview img{
        width: 40%;
        height: 160px;
        margin-inline: 6px;
    }
    .contact{
        width: 80%;
    }
    .detail{
        width: 80%;
    }
    .content{
        display: block;
        text-align: center;
    }
    .content img{
        width: 90%;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}